[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cepp"]
	path = cepp
	url = https://github.com/cran/cepp
[submodule "MuViCP"]
	path = MuViCP
	url = https://github.com/cran/MuViCP
